<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644867117654-h5dapd1ntocdcnbqvc2v4hh9cgaqoo10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644867117654-h5dapd1ntocdcnbqvc2v4hh9cgaqoo10</string>
	<key>API_KEY</key>
	<string>AIzaSyDWGnO83jE3yveFWbM89hcZGp1dYM7eVKc</string>
	<key>GCM_SENDER_ID</key>
	<string>644867117654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egurukul.firebase</string>
	<key>PROJECT_ID</key>
	<string>egurukul-app</string>
	<key>STORAGE_BUCKET</key>
	<string>egurukul-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644867117654:ios:50741bac95fdffbf4b21f7</string>
</dict>
</plist>